.users{
  text-align: center;

  table{
    border:2px solid black;


    .head{
      background-color:pink;
    }
  }
  main {
  
    display: flex;
    justify-content: center;
    align-items: flex-start;

      section{
        width: 40%;
        margin: 15px;
      }
  }

 
}
// .m{
//   width: 40%;
//   height: 40% !important;
//   float: left;

//   margin: 4%;
//   text-align: center;
//   border: 2px solid black;
// }
.add {
  margin-top: 10% !important;
  width: 45%;
  margin: auto;
}
select{
  width: 35%;
  margin: 2%;
  margin-bottom: 8%;
}

.table table{
border: 2px solid black;
width: 60%;
margin: auto;
margin-top: 5%;
.head{
  background-color: pink;
}
}
.table h1{
margin-top: 5%;
}