.users{
  text-align: center;

  table{
    border:2px solid black;
  
    .head{
      background-color:pink;
    }
  }
  main {
  
    display: flex;
    justify-content: center;
    align-items: flex-start;

      section{
        margin: 20px;
      }
  }
 
}
// .m{
//   width: 40%;
//   height: 40% !important;
//   float: left;

//   margin: 4%;
//   text-align: center;
//   border: 2px solid black;
// }
.add {
  margin-top: 10% !important;
  width: 45%;
  margin: auto;
}
select{
  width: 35%;
  margin: 2%;
  margin-bottom: 8%;
}
